/* Reglas generales */
* { font-family: sans-serif; }
body { margin: 0 }
a { text-decoration: none; }
a:hover { text-decoration: underline; }


/* Cabecera y navegación */
header {
    background-color: #000;
    color: white;
    position: fixed;
    top: 0;
    width: 100%
}
header h1 {
    margin: 0; padding: 10px 10px;
    font-size: 25px;
    font-family: 'Lobster', cursive;

}

@media screen and (max-width: 300px) {
    nav { display: none; }
    article {
        width: 100%; 
        height: 100px;
    }
}
p{
    color:white;
    display: inline-block;
    margin: 0; padding: 0;
}
nav {
    background-color: black;
    padding: 10px 10px;
    width: 80%
    
}
nav ul {
    list-style-type: none;
    display: inline-block;
    margin: 0; padding: 0;
    text-align: right;
}
nav ul li {
    display: inline-block;
    margin: 0 6px;
    text-align: left;
}
/* Secciones centrales */
section {
    width: 980px;
    margin: 30px auto;
    padding-top: 60px;
}
article {
    display: inline-block;
    background: #ccc;
    width: 240px; height: 240px;
    margin: 2px 2px;
    padding: 15px 15px;
}
article h1 {
    font-size: 15px;
}
/* Pie */
footer {
    background-color: #ffffff;
    padding: 10px 10px;
    margin: 0;
}